<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.IMovieMapper">


<!--	영화 중복 확인 -->
	<select id="getMovieExists" parameterType="MovieDTO" resultType="MovieDTO">
		SELECT IF(COUNT(1) = 0, 'N', 'Y') AS EXISTS_YN
		FROM myAwsDB.MOVIE_INFO
		WHERE MOVIE_CODE = #{movie_code} OR MOVIE_TITLE = #{movie_title}
	</select>

<!--	영화 등록 -->
	<insert id="insertMovieInfo" parameterType="MovieDTO">
		INSERT INTO myAwsDB.MOVIE_INFO
			(
				MOVIE_CODE,
				MOVIE_TITLE,
				MOVIE_COMMENT,
				MOVIE_ANALYSIS,
			 	MOVIE_TYPE
			) VALUES
			(
				#{movie_code},
				#{movie_title},
				#{movie_comment},
				#{movie_analysis},
			 	#{movie_type}
			)
	</insert>
	
	<update id="modifyMovieInfo" parameterType="MovieDTO">
		UPDATE myAwsDB.MOVIE_INFO SET

			MOVIE_CODE = #{movie_code},
			MOVIE_TITLE = #{movie_title},
			MOVIE_COMMENT = #{movie_comment},
			MOVIE_ANALYSIS = #{movie_analysis}
			MOVIE_TYPE = #{movie_type}
		WHERE
			MOVIE_CODE = #{movie_code}
	</update>
<!--	영화 조회 -->
	<select id="findMovieInfo" resultType="MovieDTO">
		SELECT
			MOVIE_CODE, MOVIE_TITLE, MOVIE_COMMENT, MOVIE_ANALYSIS, MOVIE_TYPE
		FROM myAwsDB.MOVIE_INFO ORDER BY MOVIE_ANALYSIS DESC;
	</select>


</mapper>